<label class="sd-table-switch">
    <input type="checkbox" checked="@Checked" @onchange="HandleChangedAsync" disabled="@Disabled" />
    <span aria-hidden="true"></span>
    <strong>@Label</strong>
</label>

@code {
    [Parameter]
    public bool Checked { get; set; }

    [Parameter]
    public EventCallback<bool> CheckedChanged { get; set; }

    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public bool Disabled { get; set; }

    private Task HandleChangedAsync(ChangeEventArgs eventArgs)
      => CheckedChanged.InvokeAsync(eventArgs.Value is bool value && value);
}
